@tailwind base;
@tailwind components;
@tailwind utilities;
.hero{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../src/assets/9f3fcd6afeec4ed3926e5359386d174b.jpg');
  background-size: cover;
background-position: center center ;
background-repeat: no-repeat;

  min-height: 110vh;
}




.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
